* {
  margin: 0px;
  padding: 0px;
  /* text-decoration: none; */
  box-sizing: border-box;
}
body {
    height: 100vh;
  background: url(question.jpg) no-repeat center center / cover;
  background-attachment: fixed;
  color: black;
}
.cont{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.maincontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-color: white;
  border: 2px solid white;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: 65%;
  animation: right 1s ease-in forwards;
}
.topic {
  text-align: center;
  align-self: center;
}
.question{
    margin-top: 0px;
    margin-bottom: 10px;
}
.q{
    margin:10px;
    position: relative;
}
.a{
  margin-bottom: 20px;
  animation: left 0.5s ease-out forwards;
 margin-left: 20px;
 height: 0px;
  overflow: hidden;
}
.b{
  border-color: transparent;
  background-color: transparent;
}







/* java Script Link */
.question .container.active .a{
  height: 70px;           /*use media query for diffrent screen size , use always px*/
  transition: .5s;
}
/**/



















@media screen and (max-width: 1000px) {
  .maincontainer {
   width: 80%;
  }
}
@media screen and (max-width: 680px) {
  .maincontainer {
    width: 85%;
}
}
